<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
	</configSections>
	<startup>
	</startup>
	<modules>
		<module assemblyFile="ConversionModule.dll" moduleType="ConversionModule.ConversionModule, ConversionModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ConversionModule" startupLoaded="True" />
		<module assemblyFile="OptionsModule.dll" moduleType="OptionsModule.OptionsModule, OptionsModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="OptionsModule" startupLoaded="True" />
	</modules>
</configuration>